<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cliente">
    <!--mapper de servicio de registrarCliente-->
    <insert id="registrarCliente" parameterType="pojo.Cliente">
        INSERT INTO cliente(nombre, apellidoPaterno, apellidoMaterno, telefono, 
        correo, codigoPostal, calle, colonia, numeroCasa,estado,ciudad)
        VALUES (
            #{nombre}, 
            #{apellidoPaterno}, 
            #{apellidoMaterno}, 
            #{telefono}, 
            #{correo}, 
            #{codigoPostal}, 
            #{calle}, 
            #{colonia}, 
            #{numeroCasa},
            #{estado},
            #{ciudad}
        ) 
    </insert>
    
    <!--mapper de servicio de editarCliente-->
    <update id="editarCliente" parameterType="pojo.Cliente">
        UPDATE cliente 
            SET 
            nombre = #{nombre}, 
            apellidoPaterno = #{apellidoPaterno}, 
            apellidoMaterno = #{apellidoMaterno}, 
            telefono = #{telefono}, 
            correo = #{correo}, 
            codigoPostal = #{codigoPostal}, 
            calle = #{calle}, 
            colonia = #{colonia}, 
            numeroCasa = #{numeroCasa},
            estado= #{estado},
            ciudad=#{ciudad}
            WHERE  idCliente = #{idCliente};
    </update>
    
    <!--mapper de servicio de eliminar cliente-->
    <delete id="eliminarCliente" parameterType="pojo.Cliente">
        DELETE FROM cliente
        WHERE idCliente=#{idCliente};
    </delete>
    
    <!--mapper de servicio de buscar cliente por correo-->
    <select id="buscarClientePorCorreo" resultType="pojo.Cliente">
        SELECT
            idCliente,
            correo,
            CONCAT (nombre, ' ', apellidoPaterno, ' ',apellidoMaterno) AS 'nombreCompleto',
            nombre AS nombre,
            apellidoPaterno,
            apellidoMaterno,
            telefono,
            CONCAT (calle, ' ', IFNULL(numeroCasa,'S/N'), ' ', colonia, ' ',  ' ',codigoPostal) AS 'direccion',
            calle,
            numeroCasa,
            colonia,
            codigoPostal,
            estado,
            ciudad
        FROM cliente
        WHERE correo LIKE CONCAT( #{correo}, '%');
    </select>
    
    <select id="buscarCliente" resultType="pojo.Cliente">
        SELECT
            idCliente,
            correo,
            CONCAT (nombre, ' ', apellidoPaterno, ' ',apellidoMaterno) AS 'nombreCompleto',
            nombre AS nombre,
            apellidoPaterno,
            apellidoMaterno,
            telefono,
            CONCAT (calle, ' ', IFNULL(numeroCasa,'S/N'), ' ', colonia, ' ',  ' ',codigoPostal) AS 'direccion',
            calle,
            numeroCasa,
            colonia,
            codigoPostal,
            estado,
            ciudad
        FROM cliente
    </select>
    
    <select id="buscarListaClientes" resultType="pojo.ListaClientes">
        SELECT
            idCliente, nombre, apellidoPaterno, calle, colonia, codigoPostal, ciudad, estado
            FROM cliente
    </select>
    
</mapper>