<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cliente">
    <!--mapper de servicio de registrarCliente-->
    <insert id="registrarCliente" parameterType="pojo.Cliente">
        INSERT INTO cliente(nombre, apellidoPaterno, apellidoMaterno, telefono, 
        correo, codigoPostal, calle, colonia, numeroCasa)
        VALUES (
        #{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{telefono}, 
        #{correo}, #{codigoPostal}, #{calle}, #{colonia}, #{numeroCasa}
        ) 
    </insert>
    
    <!--mapper de servicio de editarCliente-->
    <update id="editarCliente" parameterType="pojo.Cliente">
        UPDATE cliente 
            SET 
            nombre = #{nombre}, 
            apellidoPaterno = #{apellidoPaterno}, 
            apellidoMaterno = #{apellidoMaterno}, 
            telefono = #{telefono}, 
            correo = #{correo}, 
            codigoPostal = #{codigoPostal}, 
            calle = #{calle}, 
            colonia = #{colonia}, 
            numeroCasa = #{numeroCasa}
            WHERE  idCliente = #{idCliente};
    </update>
    
    <!--mapper de servicio de eliminar cliente-->
    <delete id="eliminarCliente" parameterType="pojo.Cliente">
        DELETE FROM cliente
        WHERE idCliente=#{idCliente};
    </delete>
    
    <!--mapper de servicio de buscar cliente por correo-->
    <select id="buscarClientePorCorreo" resultType="pojo.Cliente">
        SELECT 
            correo,
            CONCAT (nombre, ' ', apellidoPaterno, ' ',apellidoMaterno) AS nombre,
            telefono,
            CONCAT (calle, ' ',  colonia, ' ', numeroCasa, ' ', codigoPostal) AS direccion
        FROM cliente
        WHERE correo LIKE CONCAT( #{correo}, '%');
    </select>
    
    <select id="buscarCliente" resultType="pojo.Cliente">
        SELECT  
            correo,
            CONCAT (nombre, ' ', apellidoPaterno, ' ',apellidoMaterno) AS nombre,
            telefono,
            CONCAT (calle, ' ', IFNULL(numeroCasa,'S/N'), ' ', colonia, ' ',  ' ',codigoPostal) AS direccion
        FROM cliente
    </select>
    
    
</mapper>