<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaborador">
    <!--mapper de servicio de insertarColaboradores-->
    
    <insert id="registro" parameterType="pojo.Colaborador">
        INSERT INTO colaborador (correo, contrasenia, curp, nombre, apellidoPaterno, apellidoMaterno, noPersonal, idRol)
         VALUES (
        #{correo}, 
        #{contrasenia}, 
        #{curp}, 
        #{nombre}, 
        #{apellidoPaterno},
        #{apellidoMaterno}, 
        #{noPersonal}, 
        #{idRol}) 
    </insert>
    
    <delete id="eliminar">
        DELETE FROM colaborador 
        WHERE idColaborador = #{idColaborador};
    </delete>
    
    <update id="editar" parameterType="pojo.Colaborador">
        UPDATE colaborador 
        SET 
        nombre = #{nombre}, 
        apellidoPaterno = #{apellidoPaterno}, 
        apellidoMaterno = #{apellidoMaterno}, 
        correo = #{correo}, 
        contrasenia = #{contrasenia}, 
        curp = #{curp} 
        WHERE idColaborador = #{idColaborador}
    </update>
    
    <select id="obtenerColaboradorPorNoPersonal" resultType="pojo.Colaborador">
        SELECT 
        idColaborador, 
        correo, 
        contrasenia, 
        curp, 
        nombre, 
        apellidoPaterno, 
        apellidoMaterno, 
        noPersonal, 
        idRol
        FROM colaborador
        INNER JOIN rol 
        ON rol.idRol = colaborador.idRol
        WHERE colaborador.idColaborador = #{idColaborador}
    </select>
    
    <select id="obtenerColaboradores" resultType="pojo.Colaborador">
        SELECT 
        noPersonal, 
        CONCAT(colaborador.nombre,' ' ,apellidoPaterno, ' ',apellidoMaterno)AS nombre, 
        correo, 
        curp,
        colaborador.idRol, 
        rol.tipo
        FROM colaborador 
        INNER JOIN rol ON rol.idRol = colaborador.idRol
    </select>
    
</mapper>