<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="unidad">
    
    <!--mapper de servicio de para obtener todas las unidades-->
    <select id="obtenerUnidades" resultType="pojo.Unidad">
        SELECT
        idUnidad,  
        vin, 
        nii, 
        modelo,
        anio, 
        marca,
        u.idTipoUnidad,
        u.idColaborador, 
        tu.tipo AS 'tipo',
        IFNULL(CONCAT(c.nombre,' ', c.apellidoPaterno),'Sin asignar')AS 'conductor'
        FROM unidad u
        INNER JOIN tipoUnidad tu
        ON u.idTipoUnidad = tu.idTipoUnidad
        LEFT JOIN colaborador c
        ON u.idColaborador = c.idColaborador
        WHERE baja=1   
    </select>
    
    <!--mapper de servicio para registrar una nueva unidad-->
    <insert id="registrarUnidad" parameterType="pojo.Unidad">
        INSERT INTO unidad 
        (vin, nii, anio, modelo,marca,idTipoUnidad,idColaborador)
        VALUES (
        #{vin}, 
        #{nii},
        #{anio},
        #{modelo}, 
        #{marca}, 
        #{idTipoUnidad},
        #{idColaborador})
    </insert>
    
    <!--mapper de servicio para actualizar una unidad existente-->
    <update id="actualizarUnidad" parameterType="pojo.Unidad">
        UPDATE unidad
            SET 
                marca = #{marca}, 
                modelo = #{modelo}, 
                anio = #{anio}, 
                idTipoUnidad = #{idTipoUnidad}, 
                nii = #{nii}, 
                idColaborador = #{idColaborador} 
            WHERE  idUnidad = #{idUnidad};
    </update>
    
    <!--mapper de servicio para dar de baja una unidad-->
    <update id="darBaja" parameterType="pojo.Unidad">
        UPDATE unidad
        SET 
            motivo = #{motivo},
            baja = #{baja}
        WHERE  idUnidad = #{idUnidad};
    </update>

    <!--mapper de servicio para obtener una unidad por su NII-->
    <select id="obtenerUnidadesPorNII" resultType="pojo.Unidad">
        SELECT
        idUnidad,  
        vin, 
        nii, 
        modelo,
        anio, 
        marca,
        u.idTipoUnidad,
        u.idColaborador, 
        tu.tipo AS 'tipo',
        IFNULL(CONCAT(c.nombre,' ', c.apellidoPaterno),'Sin asignar')AS 'conductor'
        FROM unidad u
        INNER JOIN tipoUnidad tu
        ON u.idTipoUnidad = tu.idTipoUnidad
        LEFT JOIN colaborador c
        ON u.idColaborador = c.idColaborador    
        WHERE nii LIKE CONCAT(#{nii},'%') AND baja=1
    </select>
    
    <!--mapper de servicio para listar las unidades disponibles para envios-->
    <select id="obtenerListaUnidades" resultType="pojo.Unidad">
        SELECT
            idUnidad, modelo, marca
        FROM unidad
    </select>
    
</mapper>